<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>

<!-- India -->
<section class="content-section video-section">
  <div class="pattern-overlay">
  <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=pPt4zYJE_N4&t=4s',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <h1>INDIA</h1>
        <h3>AN INDIAN SUMMER</h3>
      <center>
        <div class="waves-effect waves-light btn" id = 'loginbutton'><%=link_to("EXPERIENCE", new_login_path)%></div>
      </center>
	   </div>
      </div>
    </div>
  </div>
</section>

<!-- Yosemite -->
<section class="content-section video-section1">
  <div class="pattern-overlay1">
  <a id="bgndVideo1" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=ZwzY1o_hB5Y',containment:'.video-section1', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <h1>YOSEMITE</h1>
        <h3>HEAVEN ON EARTH</h3>
        <center>
          <div class="waves-effect waves-light btn" id = 'loginbutton'><%=link_to("EXPERIENCE", new_login_path)%></div>
        </center>
	   </div>
      </div>
    </div>
  </div>
</section>

<!-- Myanmar -->
<section class="content-section video-section2">
  <div class="pattern-overlay2">
  <a id="bgndVideo2" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=DlGqzKDxqqg',containment:'.video-section2', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <h1>MYANMAR</h1>
        <h3>AN UNTOUCHED LAND</h3>
        <center>
          <div class="waves-effect waves-light btn" id = 'loginbutton'><%=link_to("EXPERIENCE", new_login_path)%></div>
        </center>
	   </div>
      </div>
    </div>
  </div>
</section>
